.DS_Store
.vscode
*~
*.tmp
.nfs*
vendor
.vendor
.autogen
cover.out
cover.html
debug.test
golint.txt
govet.txt
cmd/**/debug
cmd/agentd/nvagentd
cmd/auth/nvauth
cmd/aws/nvaws
cmd/azure/nvazure
cmd/catalog/catalog
cmd/centrald/nvcentrald
cmd/clmd/nvclmd
cmd/clusterd/nvclusterd
cmd/copy/copy
cmd/ctl/nvctl
cmd/gcp/nvgcp
cmd/imd/nvimd
cmd/k8s/mongo-sidecar/nv-mongo-sidecar
cmd/k8s/nuvo_fv/nuvo
cmd/mdDecode/mdDecode
cmd/mdEncode/mdEncode
cmd/mountfs/mountfs
cmd/nuvo_vm/nuvo_vm
cmd/snaplist/snaplist
pkg/autogen
pkg/csi/csi_pb/csi.pb.go
pkg/nuvoapi/nuvo_pb/nuvo.pb.go
cscope.out
*.swp
deploy/bin
