File=mc-csp.yaml
arch={{.Arch}}
clusterID={{.ClusterID}}
clusterType={{.ClusterType}}
clusterName={{.ClusterName}}
cspDomainID={{.CSPDomainID}}
cspDomainType={{.CSPDomainType}}
managementHost={{.ManagementHost}}
os={{.OS}}
caCert={{.CACert}}
agentdCert={{.AgentdCert}}
agentdKey={{.AgentdKey}}
clusterdCert={{.ClusterdCert}}
clusterdKey={{.ClusterdKey}}
imageTag={{.ImageTag}}
