File=mc.yaml
agentdCert={{.AgentdCert}}
agentdKey={{.AgentdKey}}
arch={{.Arch}}
caCert={{.CACert}}
clusterID={{.ClusterID}}
clusterName={{.ClusterName}}
clusterType={{.ClusterType}}
clusterdCert={{.ClusterdCert}}
clusterdKey={{.ClusterdKey}}
cspDomainID={{.CSPDomainID}}
cspDomainType={{.CSPDomainType}}
driverType={{.DriverType}}
imagePath={{.ImagePath}}}
imagePullSecret={{.ImagePullSecret}}
imageTag={{.ImageTag}}
managementHost={{.ManagementHost}}
nuvoPort={{.NuvoPort}}
os={{.OS}}
systemID={{.SystemID}}

