apiVersion: v1
kind: PersistentVolume
metadata:
  name: nuvo-vol-for-{{.VolumeID}}
  labels:
    type: nuvo-vol
    nuvomatcher: storage-{{.FsType}}-{{.VolumeID}}
    account: {{.AccountID}}
spec:
  capacity:
    storage: {{.Capacity}}
  accessModes:
    - ReadWriteOnce
  flexVolume:
    driver: nuvoloso.com/nuvo
    fsType: {{.FsType}}
    options:
      nuvoSystemId: {{.SystemID}}
      nuvoVolumeId: {{.VolumeID}}
